@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  
 
}
body{
  background-color: #d5cc6a;
}
.nav-items{
  width: 100%;
  min-height: 60px;
  max-height: auto;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  align-items: center;
  position: fixed;
  z-index: 1;
 
  border-bottom: 1px solid white;


}
.text1{
  color:white;
}
.input{
  height: 30px;
  padding: 0 3px 0  15px;

  border: none;
  border-radius: 20px;
}
.Submit{
border: none;
height: 30px;
width: 60px;
background-color: rgb(252, 188, 68);
border-radius: 40px;
cursor: pointer;
}
.Submit:hover{
  background-color: rgb(213, 163, 70);
}
.nav-items h1{

  font-weight: 400;
  font-style: normal;
  
  margin-left: 10px;
}
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.recipie-container{

  text-align: center;
   padding-top: 65px;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
 
}
.card{
  /* margin-top: 75px; */
  background-color: rgb(255, 255, 255);
  /* width: 300px; */


  padding: 8px;
  overflow: hidden;
  margin : 5px 8px 8px 9px;
  box-shadow: 2px 2px 10px 1px ;
  border-radius: 8px;

}
.recipieName{
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
}
.ingredientList li{
  margin-bottom: 10px;
  margin-left: -20px;
}
.instructions{
  margin: 8px;
 line-height: 30px;
 white-space: pre-line;
}
.recipeCloseBtn{
  width: 20px;
  border: none;
  font-size: 18px;
  border-radius: 4px;
  background-color: rgba(255, 0, 0, 0.856);
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
}
.card img{
 position: relative;
 width: 100%;
 border-radius: 8px;
}
.recipie-detail-content{
  padding: 30px;

}
.recipe-details{
 
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  background-color: #ccb848;
  border-radius: 12px ;
  width: 40%;
  height: 60%;
  color: white;
  font-size: 20px;
  transition: all  0.5s ease-in-out;
  overflow-y: scroll;
}
.recipe-details::-webkit-scrollbar-thumb{
  background-color: blanchedalmond;
  border-radius: 16px;
  -webkit-border-radius : 16px;;
}
.xyz{
  display: block;
}
.nav-items img{
  aspect-ratio: 3/2;
  object-fit: contain;
  color: white;
  width: 100px;
  height: 60px; 
  mix-blend-mode: color-burn;
  border-radius: 80px;
  /* /* background-blend-mode: color-burn; */
}
.searchBox{

  display: block;
  width: 100%;

 margin: auto;
}
.text{

  /* margin-top:0px; */

  font-weight: 800;
   font-size: 32px;
  font-style: normal;

}.section{
  text-align: center;
 padding-top: 65px;
}
@media screen and (max-width:600px) {
  .nav-items {
    display: flex;
    flex-direction: column;
    
  }
  .Submit{
    margin-bottom: 10px;
    cursor: pointer;
    
  }
}
 

@media screen and (max-width:286px) {
  .nav-items {
    justify-content: center;
    text-align: center;
    
  }
  .Submit{
    margin-bottom: 20px
  }


  
}
 
.view{
  background-color: rgb(236, 166, 34);
  margin: 18px auto;
  color:white;
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}


h3{
  
  background-color: black;
  
  color:white;
}
.button{
  
  align-self: center;
  width: 150px;
  height: 32px;
  border: none;
  border-radius: 20px;
  color: white;
  background-color: rgb(41, 21, 195);
}
