.questions{
 width: 100%;
}
.body{
  background-color: #ffff;;
}
.box {
  width: 80%;
  min-width: 300px; 
  max-width: 600px;
  height: auto;
  border: 1px solid black;
  background-color: #ffff;
  padding: 10px;
  border-radius: 20px;
  margin: 0 auto; /* Center the box horizontally */
}
.main{
  width: 100%;
  height: 100vh;
display: flex;

flex-direction: column;
justify-content: center;
align-items: center;


}
h2{
  margin-left: 8px;
}
.questions input{
  cursor: pointer;
  margin: 15px;
  
  
}
.logo{
  min-width: 550px;
  max-width: max-content;
  background-size: cover;
  width: 100%;
}
.logo img{
  
  aspect-ratio: 3/2;
  object-fit: contain;
  color: white;
  mix-blend-mode: color-burn;
  border-radius: 80px;
  background-blend-mode: color-burn;
}
.submit{
  margin: 5px;
  width: 100%;
  height: 30px;
  border-radius: 20px;
  border: none;
  background-color: rgba(26, 149, 226, 0.696);
  color: white;
}
.submit:active{
  background-color: blue;
  border: 1px solid black;
}
.side-buttons{
  display: flex;
  justify-content: space-between;
  margin: 0 12px 5px 12px;
 
}
.side-buttons button{
color: rgb(35, 35, 31);
cursor: pointer;
border: none;
border-radius: 10px;
width: 30px;
height: 30px;
background-color: rgba(223, 247, 8, 0.581);
}
.side-buttons button:active{
  background-color: yellow;
  border: 1px solid black;
}
@media only screen and (max-width: 600px) {
  .box {
    width: 90%; 
  }
  .logo{
    width: 80%; 
  min-width: 300px; 
  max-width: 600px; 
    max-width: max-content;
    background-size: cover;
  
  }
}

@media only screen and (max-width: 400px) {
  .box {
    width: 95%; /* Adjust the width for even smaller screens */
  }
}
