*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  margin: 50px auto;
  border: 1px solid black;
  width: 500px;
  height: 300px;
}
.h1{
  text-align: center;
}
.form input {
  margin: 0 8px 8px 0 ;
  padding: 20px;
  width:100%;
  height: 30px;
  border-top: none;
  border-right: none;
  border-left:none  ;
}

.form label{
   padding: 10px;
}
.submit {
  width: 80px ;
  color: black;
  background-color: rgb(238, 163, 25);
  border: none;
  border-radius: 20px;
  height: 30px;
  margin-left: 200px;
  cursor: pointer;
}
.submit:hover{
  background-color: rgb(245, 197, 66);
}
.main{
  display: flex;
  flex-wrap: wrap;
  /* width: 1320px; */
  height: auto;
}
.items{
  position: relative;
  min-width: 300px;
 margin: 20px;
 padding:10px;
 box-shadow: 5px 5px 15px ;
  border: 1px solid black ;
}
.items button{
  width: 30px;
  padding: 5px;
  margin:8px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(250, 28, 28, 0.651);
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
.items button:hover{
  background-color: red;
}